body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom left, #c2e0f3, #29b99a );
}
.center{
    position: absolute;
    top: 5%;
    left: 20%;
    padding: 50px 50px 50px 50px;
    width: 800px;
    background: #fff;
    border-radius: 3px;
    height: 60vh;

}
.left_content{
    margin-top: -280px;
    margin-left: 60%;    



}
.center h1{
    margin-left: 5%;

}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
    width: 500px;

}
form .txt_field{
    position: relative;
    margin: 20px 0;
    border-right: 1px solid #adadad;


}
/* .txt_field input{
    width: 40%;
    padding: 0 5px;
    height: 25px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;


} */
#firstname.txt_field input{
    width: 30%;
    padding: 0 5px;
    height: 25px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;


}
#lastname.txt_field input{
    width: 30%;
    position: absolute;
    margin-top: -49px;
    margin-left: 40%;
    height: 25px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;


}
#email.txt_field input{
    width: 289px;
    padding: 0 5px;
    height: 25px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;


}
.describe input{
    width: 70%;
   
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}
#lastname.txt_field label{
    position: absolute;
    top: 0px;
    left: 5px;
    margin-top: -45px;
    margin-left: 40%;
    color: #adadad;
    transform: translateY(-50);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
#firstname.txt_field label{
    position: absolute;
    top: 0px;
    left: 5px;

    color: #adadad;
    transform: translateY(-50);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
#email.txt_field label{
    position: absolute;
    top: 0px;
    left: 5px;

    color: #adadad;
    transform: translateY(-50);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
#email.txt_field span::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
#firstname.txt_field span::before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
#lastname.txt_field span::before{
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    margin-top: -45px;
    margin-left: 40%;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
#email.txt_field input:focus ~ label,
#email.txt_field input:valid ~ label{
top: -20px;
    color: #2691d9;
}

#firstname.txt_field input:focus ~ label,
#firstname.txt_field input:valid ~ label{
top: -20px;
    color: #2691d9;
}

#lastname.txt_field input:focus ~ label,
#lastname.txt_field input:valid ~ label{
top: -20px;
    color: #2691d9;
}
#firstname.txt_field input:focus ~ span::before,
#firstname.txt_field input:valid ~ span::before{
width: 33%;
}

#lastname.txt_field input:focus ~ span::before,
#lastname.txt_field input:valid ~ span::before{
width: 31%;
}
#email.txt_field input:focus ~ span::before,
#email.txt_field input:valid ~ span::before{
width: 71%;
}
input[type="submit"]{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: rgb(248, 119, 72);
    color: #fff;
    border: none;
}